{% load static %} {% load sass_tags %}
<section>
  {% block content %}
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <div class="login-card comingsoon-bgimg">
          <div class="custom-signup">
            <div class="signup-logo">
              <img src="{% static 'assets/images/logo/logo.png' %}" alt="" class="img-fluid">
            </div>
            <form method="post" class="theme-form login-form">
              <h4>Create your account</h4>
              <h6>Enter your personal details to create account</h6>
              {% csrf_token %}
              {{ form }}
              <input type="submit" value="Signup">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</section>