{% load static %} {% load sass_tags %}
<div class="col-xl-3 box-col-6 pe-0">
  <div class="job-sidebar"><a class="btn btn-primary job-toggle" href="javascript:void(0)">file filter</a>
    <div class="job-left-aside custom-scrollbar">
      <div class="file-sidebar">
        <div class="card">
          <div class="card-body">
            <ul>
             
              <li>
                <div id="file" class="btn btn-light"><i data-feather="folder"></i>Files </div>
              </li>
              <li> <hr></li>
              <li>
                <div id="db" class="btn btn-light"><i data-feather="database"></i>Databases </div>
              </li>
              <li> <hr></li>
              <li>
                <div id="cloud"class="btn btn-light"><i data-feather="cloud"></i>Cloud </div>
              </li>
              <li> <hr></li>
              <li>
                <div id="crm" class="btn btn-light"><i data-feather="monitor"></i>CRM </div>
              </li>
              <li> <hr></li>
              <li>
                <div id="other" class="btn btn-light"><i data-feather="upload"></i>Other </div>
              </li>
            </ul>
            <hr> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>